{{ pillar['headers']['auto_generated'] }}
{{ pillar['headers']['warning'] }}

# environment file for {{ file.name }}
# {{ file.description }}

{%- if datapath is not none %}
{{ file.env | replace("CHANGE_TO_COMPOSE_DATA_PATH", datapath) | replace("CHANGE_TO_COMPOSE_NAME", file.name) }}
{%- else %}
{{ file.env | replace("CHANGE_TO_COMPOSE_NAME", file.name) }}
{%- endif %}
