{{ pillar['headers']['auto_generated'] }}
{{ pillar['headers']['warning'] }}

# environment file for {{ file.name }}
# {{ file.description }}

{{ file.env | replace("CHANGE_TO_COMPOSE_SHAREDFOLDER", sfpath) | replace("CHANGE_TO_COMPOSE_FILE_PATH", composeDir) }}
