{%- set ssl_cert_dir = salt['pillar.get']('default:OMV_SSL_CERTIFICATE_DIR', '/etc/ssl') -%}
{%- set ssl_cert_prefix = salt['pillar.get']('default:OMV_SSL_CERTIFICATE_PREFIX', 'openmediavault') -%}
{{ pillar['headers']['multiline'] }}
[server]
host = {{ config.host }}
port = {{ config.port }}
debug = {{ 'True' if config.debug | to_bool else 'False' }}
use_https = {{ 'True' if webadmin.enablessl | to_bool else 'False' }}
ssl_cert = {{ ssl_cert_dir | path_join('certs', ssl_cert_prefix ~ webadmin.sslcertificateref ~ '.crt') }}
ssl_key = {{ ssl_cert_dir | path_join('private', ssl_cert_prefix ~ webadmin.sslcertificateref ~ '.key') }}
