{%- set ssl_cert_dir = salt['pillar.get']('default:OMV_SSL_CERTIFICATE_DIR', '/etc/ssl') -%}
{%- set ssl_cert_prefix = salt['pillar.get']('default:OMV_SSL_CERTIFICATE_PREFIX', 'openmediavault') -%}
[Unit]
Description=Docker exec terminal for openmediavault-compose
After=network.target

[Service]
WorkingDirectory=/opt/omv_compose_term
ExecStart=/usr/bin/python3 /opt/omv_compose_term/omv_compose_term.py
Environment="FLASK_APP=/opt/omv_compose_term/omv_compose_term.py"
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
