Source: openmediavault-compose
Section: net
XB-Plugin-Section: utilities
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 12 )
Standards-Version: 4.3.0
Homepage: http://omv-extras.org/

Package: openmediavault-compose
Architecture: all
Depends: docker-ce | docker.io,
         docker-compose-plugin | docker-compose,
         openmediavault (>= 6.1),
         openmediavault-sharerootfs,
         python3-docker,
         python3-pretty-yaml,
         ${misc:Depends}
Description: OpenMediaVault compose plugin
 lightweight plugin to maintain and execute docker-compose files.
